In [1]:
import pingouin as pg

In [4]:
import numpy as np

In [5]:
x = np.array([118, 114, 122, 128, 124, 119, 123])

H0:μ>120 H1:μ<120

In [6]:
x.mean(), x.std(ddof=1)

(np.float64(121.14285714285714), np.float64(4.561745697594706))

In [ ]:
#H0:μ=120, H1:μ>120
pg.ttest(x, y = 120, alternative = "greater")

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,0.662842,6,greater,0.266027,"[117.79, inf]",0.250531,0.845,0.145907

In [9]:
x = np.array([300, 350, 400, 450])
y = np.array([300, 320, 340])

In [12]:
print(x.mean() - y.mean())
print((x.mean()-y.mean()).std())

55.0
0.0

In [13]:
pg.ttest(x=x,y=y, alternative="two-sided")

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,1.604515,3.725592,two-sided,0.189061,"[-43.0, 153.0]",1.066404,1.015,0.207316